form {
    width:100%;
    max-width:550px;
    border:0; 
}

td { 
    padding-left: 10px;
}

table { 
    border-spacing: 10px;
    border-collapse: separate;
}

label {
    font-size: 20px;
    font-weight: 600;
    color: #00A78E;
}

input {
    width:100%;
    max-width:350px;
}